extends ../_templates/basePage/basePage

block title
   title #{pagesConfig.hash.page3.name} | #{pagesConfig.name}
 
block contentTitle 
   | #{pagesConfig.hash.page3.name}

block content 

   .checkbox
      howto-checkbox#join-checkbox1(checked)
      howto-label(for="join-checkbox1") Lorem ipsum dolor sit amet.

   .checkbox
      howto-checkbox#join-checkbox2(checked)
      howto-label(for="join-checkbox2") Lorem ipsum dolor amet.

   .checkbox
      howto-checkbox#join-checkbox3(checked)
      howto-label(for="join-checkbox3") Lorem ipsum dolor sit amet.

   .checkbox
      howto-checkbox#join-checkbox4(checked)
      howto-label(for="join-checkbox4") Lorem ipsum dolor consectetur.

   .checkbox
      input(type="checkbox")#join-checkbox5(checked)
      label(for="join-checkbox5") Lorem ipsum dolor consectetur.

   .checkbox
      input(type="checkbox")#join-checkbox6(checked)
      label(for="join-checkbox6") Lorem ipsum dolor consectetur.

   