<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 | Go Web</title>
</head>
<body>
    {{ template "header" }}
    <h1>Page Not Found</h1>
    <p>The Gopher doesn't feel well. The Gopher sad :(</p>
    <p>{{ . }}</p>
</body>
</html>