-
    0; // Что бы считать файл одновременно как js так и pug

    const pagesConfig = {
        name: 'What The Flexbox?!',
        hash: {}, // Объект страниц по имени (pagesConfig.hash.index)

        pages: [{
            name: 'What The Flexbox?!',
            alias: 'index',
            url: '/',
            webpackEntry: './src/pages/index/index.ts',
            htmlWebpackPlugin: {
                filename: 'index.html',
                template: './src/pages/index/index.pug',
            },
        }],
    }

    const lessons = [
        'What The Flexbox?!',
        'Working with Flexbox flex-direction',
        'Wrapping elements with Flexbox',
        'Flexbox Ordering',
        'Flexbox Alignment and Centering with justify-content,',
        'Alignment and Centering with align-items',
        'Alignment and Centering with align-self',
        'Alignment and Centering with align-content',
        'Understanding Flexbox sizing with the flex property',
        'Finally understanding Flexbox flex-grow, flex-shrink and flex-basis',
        'How Flexbox\'s flex-basis and wrapping work together',
        'Pure Flexbox navigation code along',
    ]

    lessons.forEach((lesson, i) => {
        const index = i + 1;

        pagesConfig.pages.push({
            name: lesson,
            alias: '' + index,
            url: `/${index}.html`,
            webpackEntry: `./src/pages/${index}/index.ts`,
            htmlWebpackPlugin: {
                filename: `${index}.html`,
                template: `./src/pages/${index}/index.pug`,
            }
        });
    });

    pagesConfig.pages.forEach((page) => {
        pagesConfig.hash[page.alias] = page;
    });

    if (module) {
        module.exports = pagesConfig;
    }