<app-container title="Pipe Reverse Test">
  <label>Input Your Text:
    <input [(ngModel)]="text">
  </label>

  <h3>without</h3>
  <p>{{text}}</p>

  <h3>Whith pipe</h3>
  <p>{{'text | reverseStr | uppercase}}</p>
</app-container>

<app-container title="Add After Delay">
    <app-delay></app-delay>
</app-container>

<app-container title="Custom If">
    <app-if></app-if>
</app-container>

<app-container title="Input Background">
  <app-inputbg></app-inputbg>
</app-container>

<div class="main">
  <p appEvent>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appTest appEvent appPrefix="Animate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appEvent>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appTest appPrefix>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
</div>