<app-container title="Add After Delay">
    <p *addDelay="1000">Item 1</p>
    <p *addDelay="2000">Item 2</p>
    <p *addDelay="3000">Item 3</p>
    <p *addDelay="4000">Item 4</p>
    <p *addDelay="5000">Item 5</p>
</app-container>

<app-container title="Custom If">
    <app-if></app-if>
</app-container>

<app-container title="Input Background">
  <app-inputbg></app-inputbg>
</app-container>

<div class="main">
  <p appEvent>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appTest appEvent appPrefix="Animate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appEvent>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
  <p appTest appPrefix>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, aut.</p>
</div>