include ../pagesConfig

doctype html 
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      
      block title
   body
      .wrapper

         include ./components/header

         .main
            .main__content

               h1.contentTitle
                  block contentTitle

               main.mainContent
                  block content