/* You can add global styles to this file, and also import other style files */
html, body {
   background: #333;
   color: #fff;
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
   margin: 0;
}

.wrapper {
   max-width: 980px;
   margin: 0 auto;
   padding: 10px;
}