<h1>Products</h1>

<div>
  <label>Enter the count: 
    <input type="number" 
      [max]="max" min="0" 
      autofocus [(ngModel)]="rows"
    >
  </label>
</div>

<div>
  <label>Select the group: 
    <select [(ngModel)]="selectGroup">
      <option value="all">All Groups</option>
      <option value="group1">Group 1</option>
      <option value="group2">Group 2</option>
      <option value="group3">Group 3</option>
    </select>
  </label>
</div>

<div class="products">
  <app-my-table [rows]="rows" 
    [selectGroup]="selectGroup" 
    (changeMax)="setMax($event)"
  ></app-my-table>
</div>
