-
   0; // Костыль, что бы считать файл одновременно как js так и pug

   const pagesConfig = {
      name: 'Learning Custom Elements',
      hash: {}, // Объект страниц по имени (pagesConfig.hash.index)

      pages: [{
         name: 'Learning Custom Elements',
         alias: 'index',
         url: '/', 
         webpackEntry: './src/pages/index/index.ts', 
         htmlWebpackPlugin: {
            filename: 'index.html',
            template: './src/pages/index/index.pug',
         },
      }, {
         name: 'Page 1 - Custom Elements',
         alias: 'page1',
         url: '/page1', 
         webpackEntry: './src/pages/page1/page1.ts', 
         htmlWebpackPlugin: {
            filename: 'page1/index.html',
            template: './src/pages/page1/page1.pug',
         },
      }, {
         name: 'Page 2 - Shadow DOM',
         alias: 'page2',
         url: '/page2', 
         webpackEntry: './src/pages/page2/page2.ts', 
         htmlWebpackPlugin: {
            filename: 'page2/index.html',
            template: './src/pages/page2/page2.pug',
         },
      }],
   }
   
   pagesConfig.pages.forEach((page) => {
      pagesConfig.hash[page.alias] = page;
   });

   if (module) {
      module.exports = pagesConfig;
   }
