extends ../_templates/basePage/basePage

block title
   title #{pagesConfig.hash.page1.name} | #{pagesConfig.name}
 
block contentTitle 
   | #{pagesConfig.hash.page1.name}

block content 
   .button
      button(is="fancy-button") Fancy button!

   x-foo-shadow-dom Hello outside x-foo-shadow-dom

   template#x-foo-from-template
      style.
         p {
            color: green
         };
      
      p I'm in Shadow DOM. My markup was stamped from a &lt;template&gt;