include ../_templates/pagesConfig

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= pagesConfig.hash.index.name
    body

        .container
            .box.box1 1
            .box.box2 2
            .box.box3 3
            .box.box4 4